<a href="https://colab.research.google.com/github/Lucas-barreto1/Lucas-barreto1/blob/main/web-scraping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd
import requests

In [6]:
header = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/107.0.0.0 Safari/537.36'}

url = 'https://br.investing.com/equities/brazil'
request  = requests.get(url, headers=header)

df = pd.read_html(request.text)
df

[    Unnamed: 0                Nome  Último  Máxima  Mínima  Variação    Var%  \
 0          NaN             Rumo ON    1891    1993    1871      -105  -5,26%
 1          NaN       Alpargatas PN    1610    1696    1584       -69  -4,11%
 2          NaN            Ambev ON    1577    1607    1569       -27  -1,68%
 3          NaN           Arezzo ON    8686    9088    8601      -384  -4,23%
 4          NaN  Banco do Brasil ON    3421    3523    3392       -81  -2,31%
 ..         ...                 ...     ...     ...     ...       ...     ...
 87         NaN        Rede D'Or ON    2964    3113    2913      -172  -5,48%
 88         NaN    CSN Mineração ON     360     377     358        -4  -1,10%
 89         NaN            Assaí ON    1921    1989    1912       -60  -3,03%
 90         NaN           Raizen PN     405     419     399       -10  -2,41%
 91         NaN        Iguatemi Unt    1836    1930    1829       -76  -3,97%

        Vol.   Hora  Unnamed: 9
 0    12,70M  25/11         NaN
 1     2,45M  25/11         NaN
 2    16,22M  25/11         NaN
 3   744,40K  25/11         NaN
 4     9,59M  25/11         NaN
 ..      ...    ...         ...
 87    5,06M  25/11         NaN
 88    6,50M  25/11         NaN
 89    6,51M  25/11         NaN
 90    8,74M  25/11         NaN
 91    2,80M  25/11         NaN

 [92 rows x 10 columns],
     0                 1         2         3       4   5   6
 0 NaN          Ibovespa   108.977    -2.854  -2,55% NaN NaN
 1 NaN  Ibovespa Futuros   109.420    -3.570  -3,16% NaN NaN
 2 NaN            US 500   4.028,4    11.000  +0,03% NaN NaN
 3 NaN             US 30  34.368,5  1744.000  +0,51% NaN NaN
 4 NaN       S&P 500 VIX      2050     8.000  +0,39% NaN NaN
 5 NaN    Bitcoin Futuro  16.280,0   250.000  +0,15% NaN NaN
 6 NaN      Índice Dólar    105940   -27.000  -0,03% NaN NaN,
     0                1         2     3       4   5   6
 0 NaN   Petróleo Brent      8371     0   0,00% NaN NaN
 1 NaN     Petróleo WTI      7655  -139  -1,78% NaN NaN
 2 NaN  Café Contrato C     16440   165  +1,01% NaN NaN
 3 NaN             Soja  1.434,00   400  +0,28% NaN NaN
 4 NaN         Cacau NY  2.473,00  2900  +1,19% NaN NaN
 5 NaN             Ouro  1.755,00   940  +0,54% NaN NaN
 6 NaN   Açúcar NY nº11      1931   -24  -1,23% NaN NaN,
     0        1      2    3       4   5   6
 0 NaN  USD/BRL  54100  893  +1,68% NaN NaN
 1 NaN  EUR/BRL  56254  875  +1,58% NaN NaN
 2 NaN  EUR/USD  10402   -6  -0,06% NaN NaN
 3 NaN  USD/JPY  13912   51  +0,36% NaN NaN
 4 NaN  GBP/USD  12071  -22  -0,18% NaN NaN
 5 NaN  GBP/BRL  65307 -114  -0,17% NaN NaN
 6 NaN  CAD/BRL  40382  -56  -0,14% NaN NaN,
     0                  1     2   3       4   5   6
 0 NaN       Petrobras PN  2386   0   0,00% NaN NaN
 1 NaN            Vale ON  8090   0   0,00% NaN NaN
 2 NaN             Via ON   224 -15  -6,28% NaN NaN
 3 NaN  Magazine Luiza ON   342   0   0,00% NaN NaN
 4 NaN      IRB Brasil ON    78  -2  -2,50% NaN NaN
 5 NaN              Oi ON    21   1  +5,00% NaN NaN
 6 NaN             Weg ON  3910 -66  -1,66% NaN NaN,
    Unnamed: 0               Nome  Último    Var%     Vol.  Unnamed: 5  \
 0         NaN  Magazine Luiza ON     342   0,00%  210,07M         NaN
 1         NaN       Petrobras PN    2386   0,00%   58,64M         NaN
 2         NaN      Americanas ON    1095  -2,06%   44,15M         NaN
 3         NaN   Itaú Unibanco PN    2599  -3,53%   40,68M         NaN
 4         NaN              B3 ON    1205  -4,82%   38,77M         NaN
 5         NaN        Bradesco PN    1535  -1,85%   31,54M         NaN
 6         NaN            Vale ON    8090   0,00%   20,48M         NaN

    Unnamed: 6
 0         NaN
 1         NaN
 2         NaN
 3         NaN
 4         NaN
 5         NaN
 6         NaN  ,
    Unnamed: 0                                          Nome  Último     Var%  \
 0         NaN                        Unity Software Inc BDR     960  +18,81%
 1         NaN                                   Alteryx BDR    1172  +17,20%
 2         NaN                                     ONEOK BDR   17942  +15,92%
 3         NaN                                    Exelon BDR   21645  +13,32%
 4         NaN                                    Carmax BDR   17586   +7,88%
 5         NaN  FII RBR Desenvolvimento Comercial Feeder FOF    9899   +7,60%
 6         NaN                 Hilton Worldwide Holdings BDR   37110   +7,34%

     Vol.  Unnamed: 5  Unnamed: 6
 0  3,14K         NaN         NaN
 1  0,00K         NaN         NaN
 2  0,00K         NaN         NaN
 3  0,07K         NaN         NaN
 4  0,04K         NaN         NaN
 5  1,21K         NaN         NaN
 6  0,02K         NaN         NaN  ,
    Unnamed: 0                       Nome  Último    Var%    Vol.  Unnamed: 5  \
 0         NaN             Telefonica BDR    1900  -9,48%   0,34K         NaN
 1         NaN             Espaçolaser ON     137  -8,67%   3,66M         NaN
 2         NaN                  Amcor DRC    6505  -8,53%   0,02K         NaN
 3         NaN          Credit Suisse BDR     965  -8,53%   9,88K         NaN
 4         NaN    Dexxos Participações PN     588  -7,98%   3,30K         NaN
 5         NaN         Ser Educacional ON     577  -7,53%  10,00K         NaN
 6         NaN  CH Robinson Worldwide BDR   23710   0,00%   0,01K         NaN

    Unnamed: 6
 0         NaN
 1         NaN
 2         NaN
 3         NaN
 4         NaN
 5         NaN
 6         NaN  ]

In [7]:
for i , tabela in enumerate(df):
  print('----------------------')
  print(i)
  print(tabela)

----------------------
0
    Unnamed: 0                Nome  Último  Máxima  Mínima  Variação    Var%  \
0          NaN             Rumo ON    1891    1993    1871      -105  -5,26%
1          NaN       Alpargatas PN    1610    1696    1584       -69  -4,11%
2          NaN            Ambev ON    1577    1607    1569       -27  -1,68%
3          NaN           Arezzo ON    8686    9088    8601      -384  -4,23%
4          NaN  Banco do Brasil ON    3421    3523    3392       -81  -2,31%
..         ...                 ...     ...     ...     ...       ...     ...
87         NaN        Rede D'Or ON    2964    3113    2913      -172  -5,48%
88         NaN    CSN Mineração ON     360     377     358        -4  -1,10%
89         NaN            Assaí ON    1921    1989    1912       -60  -3,03%
90         NaN           Raizen PN     405     419     399       -10  -2,41%
91         NaN        Iguatemi Unt    1836    1930    1829       -76  -3,97%

       Vol.   Hora  Unnamed: 9
0    12,70M  25/11         NaN
1     2,45M  25/11         NaN
2    16,22M  25/11         NaN
3   744,40K  25/11         NaN
4     9,59M  25/11         NaN
..      ...    ...         ...
87    5,06M  25/11         NaN
88    6,50M  25/11         NaN
89    6,51M  25/11         NaN
90    8,74M  25/11         NaN
91    2,80M  25/11         NaN

[92 rows x 10 columns]
----------------------
1
    0                 1         2         3       4   5   6
0 NaN          Ibovespa   108.977    -2.854  -2,55% NaN NaN
1 NaN  Ibovespa Futuros   109.420    -3.570  -3,16% NaN NaN
2 NaN            US 500   4.028,4    11.000  +0,03% NaN NaN
3 NaN             US 30  34.368,5  1744.000  +0,51% NaN NaN
4 NaN       S&P 500 VIX      2050     8.000  +0,39% NaN NaN
5 NaN    Bitcoin Futuro  16.280,0   250.000  +0,15% NaN NaN
6 NaN      Índice Dólar    105940   -27.000  -0,03% NaN NaN
----------------------
2
    0                1         2     3       4   5   6
0 NaN   Petróleo Brent      8371     0   0,00% NaN NaN
1 NaN     Petróleo WTI      7655  -139  -1,78% NaN NaN
2 NaN  Café Contrato C     16440   165  +1,01% NaN NaN
3 NaN             Soja  1.434,00   400  +0,28% NaN NaN
4 NaN         Cacau NY  2.473,00  2900  +1,19% NaN NaN
5 NaN             Ouro  1.755,00   940  +0,54% NaN NaN
6 NaN   Açúcar NY nº11      1931   -24  -1,23% NaN NaN
----------------------
3
    0        1      2    3       4   5   6
0 NaN  USD/BRL  54100  893  +1,68% NaN NaN
1 NaN  EUR/BRL  56254  875  +1,58% NaN NaN
2 NaN  EUR/USD  10402   -6  -0,06% NaN NaN
3 NaN  USD/JPY  13912   51  +0,36% NaN NaN
4 NaN  GBP/USD  12071  -22  -0,18% NaN NaN
5 NaN  GBP/BRL  65307 -114  -0,17% NaN NaN
6 NaN  CAD/BRL  40382  -56  -0,14% NaN NaN
----------------------
4
    0                  1     2   3       4   5   6
0 NaN       Petrobras PN  2386   0   0,00% NaN NaN
1 NaN            Vale ON  8090   0   0,00% NaN NaN
2 NaN             Via ON   224 -15  -6,28% NaN NaN
3 NaN  Magazine Luiza ON   342   0   0,00% NaN NaN
4 NaN      IRB Brasil ON    78  -2  -2,50% NaN NaN
5 NaN              Oi ON    21   1  +5,00% NaN NaN
6 NaN             Weg ON  3910 -66  -1,66% NaN NaN
----------------------
5
   Unnamed: 0               Nome  Último    Var%     Vol.  Unnamed: 5  \
0         NaN  Magazine Luiza ON     342   0,00%  210,07M         NaN
1         NaN       Petrobras PN    2386   0,00%   58,64M         NaN
2         NaN      Americanas ON    1095  -2,06%   44,15M         NaN
3         NaN   Itaú Unibanco PN    2599  -3,53%   40,68M         NaN
4         NaN              B3 ON    1205  -4,82%   38,77M         NaN
5         NaN        Bradesco PN    1535  -1,85%   31,54M         NaN
6         NaN            Vale ON    8090   0,00%   20,48M         NaN

   Unnamed: 6
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
5         NaN
6         NaN
----------------------
6
   Unnamed: 0                                          Nome  Último     Var%  \
0         NaN                        Unity Software Inc BDR     960  +18,81%
1         NaN                                   Alteryx BDR    1172  +17,20%
2         NaN                                     ONEOK BDR   17942  +15,92%
3         NaN                                    Exelon BDR   21645  +13,32%
4         NaN                                    Carmax BDR   17586   +7,88%
5         NaN  FII RBR Desenvolvimento Comercial Feeder FOF    9899   +7,60%
6         NaN                 Hilton Worldwide Holdings BDR   37110   +7,34%

    Vol.  Unnamed: 5  Unnamed: 6
0  3,14K         NaN         NaN
1  0,00K         NaN         NaN
2  0,00K         NaN         NaN
3  0,07K         NaN         NaN
4  0,04K         NaN         NaN
5  1,21K         NaN         NaN
6  0,02K         NaN         NaN
----------------------
7
   Unnamed: 0                       Nome  Último    Var%    Vol.  Unnamed: 5  \
0         NaN             Telefonica BDR    1900  -9,48%   0,34K         NaN
1         NaN             Espaçolaser ON     137  -8,67%   3,66M         NaN
2         NaN                  Amcor DRC    6505  -8,53%   0,02K         NaN
3         NaN          Credit Suisse BDR     965  -8,53%   9,88K         NaN
4         NaN    Dexxos Participações PN     588  -7,98%   3,30K         NaN
5         NaN         Ser Educacional ON     577  -7,53%  10,00K         NaN
6         NaN  CH Robinson Worldwide BDR   23710   0,00%   0,01K         NaN

   Unnamed: 6
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
5         NaN
6         NaN

In [8]:
df = pd.DataFrame(df[0])

In [9]:
df

,Unnamed: 0,Nome,Último,Máxima,Mínima,Variação,Var%,Vol.,Hora,Unnamed: 9
0,NaN,Rumo ON,1891,1993,1871,-105,"-5,26%","12,70M",25/11,NaN
1,NaN,Alpargatas PN,1610,1696,1584,-69,"-4,11%","2,45M",25/11,NaN
2,NaN,Ambev ON,1577,1607,1569,-27,"-1,68%","16,22M",25/11,NaN
3,NaN,Arezzo ON,8686,9088,8601,-384,"-4,23%","744,40K",25/11,NaN
4,NaN,Banco do Brasil ON,3421,3523,3392,-81,"-2,31%","9,59M",25/11,NaN
...,...,...,...,...,...,...,...,...,...,...
87,NaN,Rede D'Or ON,2964,3113,2913,-172,"-5,48%","5,06M",25/11,NaN
88,NaN,CSN Mineração ON,360,377,358,-4,"-1,10%","6,50M",25/11,NaN
89,NaN,Assaí ON,1921,1989,1912,-60,"-3,03%","6,51M",25/11,NaN
90,NaN,Raizen PN,405,419,399,-10,"-2,41%","8,74M",25/11,NaN
91,NaN,Iguatemi Unt,1836,1930,1829,-76,"-3,97%","2,80M",25/11,NaN

In [10]:
df['Último'] = df['Último'] /100

In [11]:
df['Máxima'] = df['Máxima'] /100

In [12]:
df['Mínima'] = df['Mínima'] /100

In [13]:
df

,Unnamed: 0,Nome,Último,Máxima,Mínima,Variação,Var%,Vol.,Hora,Unnamed: 9
0,NaN,Rumo ON,18.91,19.93,18.71,-105,"-5,26%","12,70M",25/11,NaN
1,NaN,Alpargatas PN,16.10,16.96,15.84,-69,"-4,11%","2,45M",25/11,NaN
2,NaN,Ambev ON,15.77,16.07,15.69,-27,"-1,68%","16,22M",25/11,NaN
3,NaN,Arezzo ON,86.86,90.88,86.01,-384,"-4,23%","744,40K",25/11,NaN
4,NaN,Banco do Brasil ON,34.21,35.23,33.92,-81,"-2,31%","9,59M",25/11,NaN
...,...,...,...,...,...,...,...,...,...,...
87,NaN,Rede D'Or ON,29.64,31.13,29.13,-172,"-5,48%","5,06M",25/11,NaN
88,NaN,CSN Mineração ON,3.60,3.77,3.58,-4,"-1,10%","6,50M",25/11,NaN
89,NaN,Assaí ON,19.21,19.89,19.12,-60,"-3,03%","6,51M",25/11,NaN
90,NaN,Raizen PN,4.05,4.19,3.99,-10,"-2,41%","8,74M",25/11,NaN
91,NaN,Iguatemi Unt,18.36,19.30,18.29,-76,"-3,97%","2,80M",25/11,NaN